@charset "utf-8";

body{
	margin: 0
}

.container {
  position: relative;
  text-align: center;
}

.container2 {
  position: relative;
  text-align: center;
  margin-top: -14%;
}

#top-left {
  position: absolute;
  top: 22%;
  left: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: white;
  visibility: hidden;
}

#imageoverflow{
  position: absolute;
  top: 30%;
  left: 65%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: white;
}

.imageoverflow2{
  position: absolute;
  top: 45%;
  left: 27%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: white;
}

.imageoverflow3{
  position: absolute;
  top: 45%;
  left: 43%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: white;
}

.imageoverflow4{
  position: absolute;
  top: 45%;
  left: 59%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: white;
}

.imageoverflow5{
  position: absolute;
  top: 60%;
  left: 0%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: white;
}

#workflowheading{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 60px;
}

.start {
  background-image: url(images/indexbackground.jpg), url(images/whitebg.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

.bluebg{
	margin-top: 11.5%;
	width: 100%;
	background-image: url(images/bluebg.png);
	padding-left: 0%;
	border: none;
}

#stormanthem{
	margin-left: 50%;
	margin-top: -30%
}

#top-left2{
  position: absolute;
  top: 22%;
  left: 40%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: white;
}

#paragraph4{
  position: absolute;
  top: 32%;
  left: 42%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
}

#paragraph2{
  position: absolute;
  top: 37%;
  left: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  margin-right: 60%
}

#paragraph3{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 4%;
	font-size: 20px;
	margin-right: 60%;
}

#nextimage{
	background-image: url(images/performancebg.jpg)
}

#beepboop{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 60px;
}

#beepboop2{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 4%;
	font-size: 20px;
	margin-right: 60%;
}

#beepboop3{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 1%;
	font-size: 20px;
	margin-right: 60%;
}

#beepboop4{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 1%;
	font-size: 20px;
	margin-right: 60%;
}

#beepboop5{
	font-family: 'Roboto', sans-serif;
	margin-left: 47.5%;
	margin-top: 14%;
	font-size: 20px;
}

#arrowimage{
	margin-left: 49.1%;
	margin-top: -1%;
	position: absolute;
}

#heading2{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 10%;
	font-size: 60px;
	margin-right: 60%;
	visibility: hidden;
}

#performanceheading{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 30%;
	font-size: 60px;
	margin-right: 60%;
}

#paragraph1{
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 20px;
	margin-right: 60%;
}

#designimage{
	margin-left: 40%;
	position: absolute;
	margin-top: -20%
}

.start{

}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.imagecontainer{
	margin-top: 5%;
	height: auto;
	width: 100%;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 6px); }
    to   { transform: translate(0, -0px); }    
}